atomicwrites
attrs
certifi
chardet
Click
coverage
Flask
Flask-Limiter
Flask-PyMongo
Flask-Script
Flask-UUID
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
jsonschema
limits
MarkupSafe
more-itertools
motor
packaging
pluggy
py
pymongo
pyparsing
pyrsistent
pytest
pytest-cov
python-dateutil
python-dotenv
requests
six
urllib3
uuid
wcwidth
Werkzeug
zipp
